{% assign comments = site.data.comments | sort %}
{% assign numberOfComments = 0 %}
{% for comment in comments %}
{% assign commentData = comment[1] %}
{% if page.id == commentData.post_id %}
{% assign numberOfComments = numberOfComments | plus: 1 %}
<div class="comments-list">
	<h4 class="sticky">{{ commentData.name }}</h4>
	<small class="meta">
		{% include date.html postDate=commentData.date %}
		{% if commentData.link %}
		| <a style="text-transform:lowercase" href="{{ commentData.link }}">{{ commentData.link }}</a>
		{% endif %}
	</small>
	<p>
		{{ commentData.message }}<br/>
		<small style="display:none">post_id: '{{ commentData.post_id }}'</small>
	</p>
</div>
{% endif %}
{% endfor %}
{% if numberOfComments == 0 %}
<p>Dieser Artikel hat noch keine Kommentare.</p>
{% endif %}
