<form action="https://formspree.io/meqkezly" method="POST">
<input type="hidden" name="post_id" value="{{page.id}}" />
<div class="comment-form-element">
  <label for="name">Name *</label>
  <input type="text" id="name" name="name" required />
</div>
<div class="comment-form-element">
  <label for="email">E-Mail *</label>
  <input type="text" id="email" name="_replyto" required />
</div>
<div class="comment-form-element">
  <label for="link">Website</label>
  <input type="text" id="link" name="url" />
</div>
<div class="comment-form-element">
  <label for="message">Kommentar *</label>
  <textarea type="text" id="message" name="message" required rows="5" placeholder="Was denkst du darüber...?"></textarea>
</div>
<input class="button button-inverse" type="submit" name="submit" value="Absenden" />
</form>
<p class="sticky"><small>
  Bitte beachte, dass es einige Tage dauern kann, bis ich deinen
  Kommentar freigeschaltet habe und dir antworte. Danke für dein Verständnis.
  Zur Übermittlung der eingegebenen Formulardaten wird
  <a href="https://formspree.io" target="_blank">Formspree</a>
  verwendet.
</small></p>
