<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"/>
  <p>Hi, ich bin Aljona alias <a href="{{ site.theme_settings.homepage }}" target="_blank">Frau Lyoner</a>
    – Buchstabenmalerin, Wortjongleurin, Mutter, Woman in Tech und
    vielfältig interessierter Tausendsassa mit Hang zur Nachtaktivität.
    Ob diverse Perspektivenwechsel oder Impulse für mehr
    <a href="{{site.baseurl}}/umdenken.html">Gelassenheit</a> und
    <a href="{{site.baseurl}}/wohlfuehlen.html">Selbstfürsorge</a> im Alltag,
    auf diesem Blog findest du ein buntes Potpourri an Denkanstößen rund um ein
    selbstbestimmtes und glückliches Leben.
  </p>
</div>
