<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>Hi, ich heiße Aljona alias
    <a href="https://fraulyoner.de/" target="_blank">Frau Lyoner</a>.
    Gedankenshift ist mein Blog zum Nach-, Um- und Querdenken. Was einst mit dem
    Schwerpunkt <a href="{{site.baseurl}}/tags/Minimalismus">Minimalismus</a>
    begann, ist zu einem Ort gewachsen, an dem du allerlei Anregungen zum
    Reflektieren und Hinterfragen findest.
  </p>
</div>
