<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fraulyoner.jpg" alt="Hallo, ich bin Frau Lyoner!"/>
  <p>Hi, ich bin Aljona alias
    <a href="{{ site.theme_settings.homepage }}" target="_blank">Frau Lyoner</a>.
    Hier dreht sich alles rund um's Umdenken, Loslassen, Wohlfühlen.
    Du findest hier allerlei Denkanstöße für mehr
    <a href="{{site.baseurl}}/wohlfuehlen.html">Zufriedenheit</a>
    und selbstbestimmte
    <a href="{{site.baseurl}}/tags/Entscheidungen">Entscheidungen</a>,
    aber auch Tipps zu den Themen
    <a href="{{site.baseurl}}/tags/Minimalismus">Minimalismus</a> und
    <a href="{{site.baseurl}}/tags/Nachhaltigkeit">Nachhaltigkeit</a>.
  </p>
</div>
