<header class="site-header">
	<div class="site-logo">
		<div class="logo">
			<i class="fa fa-fw fa-random fa-rotate-270 fa-5x"></i>
		</div>
		<div class="branding">
			<h1 class="site-title">
				<a href="{{ site.baseurl }}/">{{ site.theme_settings.title_short }}</a>
			</h1>
		</div>
	</div>
	<nav class="site-nav">
		<ul class="site-nav-left">
			<li>
				<a class="page-link" href="{{ site.baseurl }}/">
					Home
				</a>
			</li>
			<li>
				<a class="page-link" href="{{ site.baseurl }}/categories.html">
					Themen
				</a>
			</li>
			<li>
				<a class="page-link" target="_blank" href="{{ site.theme_settings.homepage }}">
					About
				</a>
			</li>
			<li>
				<a class="page-link" href="{{ site.baseurl }}/search.html">
					Suche
				</a>
			</li>
		</ul>
		<ul class="site-nav-right">
			{% if site.theme_settings.rss %}
			<li>
					<a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed abonnieren">
							<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
							</span>
					</a>
			</li>
			{% endif %}
			{% if site.theme_settings.email_address %}
			<li>
					<a href="mailto:hallo@fraulyoner.de" title="E-Mail schreiben">
					<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
					</a>
			</li>
			{% endif %}
			{% if site.theme_settings.instagram %}
			<li>
					<a href="https://instagram.com/{{ site.theme_settings.instagram }}" title="Folge mir auf Instagram">
					<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
							</span>
					</a>
			</li>
			{% endif %}
			{% if site.theme_settings.twitter %}
			<li>
					<a class="type" href="https://twitter.com/{{ site.theme_settings.twitter }}" title="Folge mir auf Twitter">
							<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
					</a>
			</li>
			{% endif %}
		</ul>
	</nav>

</header>
