<header class="site-header">
	<div class="site-logo">
		<a class="logo" href="{{ site.baseurl }}/">
			<i class="fa fa-fw fa-random fa-rotate-270 fa-5x"></i>
		</a>
		<div class="branding">
			<h1 class="site-title">
				<a href="{{ site.baseurl }}/">{{ site.theme_settings.title_short }}</a>
			</h1>
		</div>
	</div>
	<nav class="site-nav">
		<ul class="site-nav-left">
			<li>
				<a class="page-link" href="{{site.baseurl}}/umdenken.html">Umdenken</a>
			</li>
			<li>
				<a class="page-link" href="{{site.baseurl}}/loslassen.html">Loslassen</a>
			</li>
			<li>
				<a class="page-link" href="{{site.baseurl}}/wohlfuehlen.html">Wohlfühlen</a>
			</li>
			<li class="site-nav-search">
				<a class="page-link" href="{{ site.baseurl }}/search.html">
					<i class="fa fa-search" title="Blog durchsuchen"></i>
				</a>
			</li>
		</ul>
		<ul class="site-nav-right">
			{% if site.theme_settings.rss %}
			<li>
					<a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed abonnieren">
						<i class="fa fa-rss"></i>
					</a>
			</li>
			{% endif %}
			{% if site.theme_settings.instagram %}
			<li>
					<a href="{{ site.theme_settings.instagram }}" title="Folge mir auf Instagram">
						<i class="fa fa-instagram"></i>
					</a>
			</li>
			{% endif %}
			{% if site.theme_settings.twitter %}
			<li>
					<a class="type" href="{{ site.theme_settings.twitter }}" title="Folge mir auf Twitter">
						<i class="fa fa-twitter"></i>
					</a>
			</li>
			{% endif %}
		</ul>
	</nav>

</header>
