{% if site.theme_settings.rss %}
<li>
	<a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="Folge mir auf Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.instagram %}
<li>
	<a href="https://instagram.com/{{ site.theme_settings.instagram }}" title="Folge mir auf Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.email_address %}
<li>
	<a href="{{ site.baseurl }}/follow.html" title="E-Mail">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}
