<!-- Default Statcounter code for Meinimalismus
https://www.fraulyoner.de/meinimalismus/ -->
<script type="text/javascript">
var sc_project=11947172;
var sc_invisible=1;
var sc_security="ed4730ef";
var sc_https=1;
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/11947172/0/ed4730ef/1/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
