<div class="site-snippet">
  <p>Themenbereiche</p>
  <ul class="categories">
    <li>
      <a href="{{site.baseurl}}/tags/Zufriedenheit.html">
        <img src="{{site.baseurl}}/assets/img/categories/Zufriedenheit.jpg" alt="Zufriedenheit"/>
        <span>Zufriedenheit</span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/tags/Perspektivenwechsel.html">
        <img src="{{site.baseurl}}/assets/img/categories/Perspektive.jpg" alt="Alles hängt von unserer Perspektive ab."/>
        <span>Perspektivenwechsel</span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/tags/Minimalismus.html">
        <img src="{{site.baseurl}}/assets/img/categories/Minimalismus.jpg" alt="Minimalismus"/>
        <span>Minimalismus</span>
      </a>
    </li>
  </ul>
</div>
