<!-- Twitter cards -->
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.excerpt %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
{% else %}
<meta name="twitter:description" content="{{ site.theme_settings.description }}">
{% endif %}

<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/{{ site.theme_settings.image }}">
<!-- end of Twitter cards -->

<!-- Pinterest rich pin -->
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />

{% if page.excerpt %}
<meta name="og:description" content="{{ page.excerpt | strip_html }}">
{% else %}
<meta name="og:description" content="{{ site.theme_settings.description }}">
{% endif %}

<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{page.url}}" />
<meta property="og:site_name" content="{{site.theme_settings.title}}" />
<meta property="article:published_time" content="{{page.date}}" />
<meta property="article:author" content="Frau Lyoner" />
<!-- end of Pinterest rich pin -->
